In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json

In [4]:
##FFmpg (turns your gource into a MP4)
#brew install ffmpeg

In [5]:
##when that is finished installing type 
#brew install gource

**Run this with**:
- gource custom.log --seconds-per-day 1 --bloom-intensity 0.3
- gource custom.log --seconds-per-day 1 --bloom-intensity 0.3 -e 0.2 -i 120
- gource custom.log --seconds-per-day 1 --bloom-intensity 0.3 -e 0.2 -i 120 --title "Development of the amount of characters in Rick and Morty"
- gource custom.log --seconds-per-day 1 -1440x900 --bloom-intensity 0.1 -e 0.2 -i 120 --title "Development of the amount of characters in Rick and Morty"
- gource custom.log -1280x720 --seconds-per-day 2 --key --hide filenames

**Output video**:
- gource custom.log -1280x720 --seconds-per-day 2 --key --hide dirnames, -o - | ffmpeg -y -r 60 -f image2pipe -vcodec ppm -i - -vcodec libx264 -preset ultrafast -crf 1 -threads 0 -bf 0 output.mp4

- link : [custom log format](https://github.com/acaudwell/Gource/wiki/Custom-Log-Format)
- link : [visualization](https://edgeryders.eu/t/visualizing-our-7-years-of-online-dialogue-with-gource/11905)
- likn : [stuff to gource](https://leonjza.github.io/blog/2013/07/27/stuff-to-gource./#get-the-code-setup-your-own)

The software to create this is Gource 2, an open source tool originally meant to visualize Git repositories. Fortunately it also can read a custom log format 9.

For Discourse, the custom log file would be a text file with each line containing the following components, delimited by `|`:

- timestamp
- username
- type of action (Added, Modified, Deleted); the “M” is useful esp. for wikis
- path to the affected resource. Usually this applies to files, but in our case it would be about posts. This is the part we’d have to adapt to Discourse. Our path format could be `category/subcategory/topic-id/post-id` or it could even include the full threading information with any depth of nesting, such as `category/subcategory/topic-id/parent-post-id/parent-post-id/post-id`
- color for the affected resource (optional); this could be chosen according to the category color on edgeryders.eu

Example line:

- `1275543595|matthias|A|earthos/reef/1234/1`

In [2]:
import pandas as pd
import pandasql as ps
import numpy as np
import re
import tqdm
from tqdm import tqdm
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [3]:
df_characters = pd.read_csv('../df_characters.csv')
df_episodes = pd.read_csv('../df_episodes.csv')
df_transcripts = pd.read_csv('../df_transcripts.csv')
df_rel_sent = pd.read_csv('../df_rel_sent.csv')

In [4]:
from ast import literal_eval
df_characters['episode'] = df_characters['episode'].apply(literal_eval)

In [5]:
df_characters_exploded = df_characters.explode('episode')

In [6]:
df_characters_exploded.episode = df_characters_exploded.episode.astype(int)

In [7]:
df_characters_exploded

,name,status,species,type,gender,origin,location,image,episode,url,created,references
0,Rick Sanchez,Alive,Human,NaN,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,1,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z,"['Morty Smith', 'Summer Smith', 'Beth Smith', ..."
0,Rick Sanchez,Alive,Human,NaN,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,2,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z,"['Morty Smith', 'Summer Smith', 'Beth Smith', ..."
0,Rick Sanchez,Alive,Human,NaN,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,3,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z,"['Morty Smith', 'Summer Smith', 'Beth Smith', ..."
0,Rick Sanchez,Alive,Human,NaN,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,4,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z,"['Morty Smith', 'Summer Smith', 'Beth Smith', ..."
0,Rick Sanchez,Alive,Human,NaN,Male,Earth (C-137),Citadel of Ricks,https://rickandmortyapi.com/api/character/avat...,5,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z,"['Morty Smith', 'Summer Smith', 'Beth Smith', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
821,Young Jerry,unknown,Human,NaN,Male,Earth (Unknown dimension),Earth (Unknown dimension),https://rickandmortyapi.com/api/character/avat...,51,https://rickandmortyapi.com/api/character/822,2021-11-02T17:18:31.934Z,NaN
822,Young Beth,unknown,Human,NaN,Female,Earth (Unknown dimension),Earth (Unknown dimension),https://rickandmortyapi.com/api/character/avat...,51,https://rickandmortyapi.com/api/character/823,2021-11-02T17:19:00.951Z,NaN
823,Young Beth,unknown,Human,NaN,Female,Earth (Unknown dimension),Earth (Unknown dimension),https://rickandmortyapi.com/api/character/avat...,51,https://rickandmortyapi.com/api/character/824,2021-11-02T17:19:47.957Z,NaN
824,Young Jerry,unknown,Human,NaN,Male,Earth (Unknown dimension),Earth (Unknown dimension),https://rickandmortyapi.com/api/character/avat...,51,https://rickandmortyapi.com/api/character/825,2021-11-02T17:20:14.305Z,NaN
825,Butter Robot,Alive,Robot,Passing Butter Robot,Genderless,Earth (Replacement Dimension),Earth (Replacement Dimension),https://rickandmortyapi.com/api/character/avat...,9,https://rickandmortyapi.com/api/character/826,2021-11-02T17:24:37.458Z,NaN

In [8]:
import datetime
from datetime import datetime
from datetime import timedelta
import time

In [215]:
date_range = pd.date_range(datetime.today() - timedelta(days=51), periods=51)
date_series = pd.Series(date_range)
df_episode_unix_timestamp = pd.DataFrame(pd.DataFrame(date_series).values[::-1])\
    .reset_index(drop=False)\
    .rename(columns={'index':'episode', 0:'timestamp'})
df_episode_unix_timestamp['episode'] = df_episode_unix_timestamp['episode'].apply(lambda x: x+1)
df_episode_unix_timestamp['unixtime'] = df_episode_unix_timestamp['timestamp'].astype(int)
df_episode_unix_timestamp

    episode                  timestamp             unixtime
0         1 2021-11-30 12:03:08.828821  1638273788828821000
1         2 2021-11-29 12:03:08.828821  1638187388828821000
2         3 2021-11-28 12:03:08.828821  1638100988828821000
3         4 2021-11-27 12:03:08.828821  1638014588828821000
4         5 2021-11-26 12:03:08.828821  1637928188828821000
5         6 2021-11-25 12:03:08.828821  1637841788828821000
6         7 2021-11-24 12:03:08.828821  1637755388828821000
7         8 2021-11-23 12:03:08.828821  1637668988828821000
8         9 2021-11-22 12:03:08.828821  1637582588828821000
9        10 2021-11-21 12:03:08.828821  1637496188828821000
10       11 2021-11-20 12:03:08.828821  1637409788828821000
11       12 2021-11-19 12:03:08.828821  1637323388828821000
12       13 2021-11-18 12:03:08.828821  1637236988828821000
13       14 2021-11-17 12:03:08.828821  1637150588828821000
14       15 2021-11-16 12:03:08.828821  1637064188828821000
15       16 2021-11-15 12:03:08.828821  1636977788828821000
16       17 2021-11-14 12:03:08.828821  1636891388828821000
17       18 2021-11-13 12:03:08.828821  1636804988828821000
18       19 2021-11-12 12:03:08.828821  1636718588828821000
19       20 2021-11-11 12:03:08.828821  1636632188828821000
20       21 2021-11-10 12:03:08.828821  1636545788828821000
21       22 2021-11-09 12:03:08.828821  1636459388828821000
22       23 2021-11-08 12:03:08.828821  1636372988828821000
23       24 2021-11-07 12:03:08.828821  1636286588828821000
24       25 2021-11-06 12:03:08.828821  1636200188828821000
25       26 2021-11-05 12:03:08.828821  1636113788828821000
26       27 2021-11-04 12:03:08.828821  1636027388828821000
27       28 2021-11-03 12:03:08.828821  1635940988828821000
28       29 2021-11-02 12:03:08.828821  1635854588828821000
29       30 2021-11-01 12:03:08.828821  1635768188828821000
30       31 2021-10-31 12:03:08.828821  1635681788828821000
31       32 2021-10-30 12:03:08.828821  1635595388828821000
32       33 2021-10-29 12:03:08.828821  1635508988828821000
33       34 2021-10-28 12:03:08.828821  1635422588828821000
34       35 2021-10-27 12:03:08.828821  1635336188828821000
35       36 2021-10-26 12:03:08.828821  1635249788828821000
36       37 2021-10-25 12:03:08.828821  1635163388828821000
37       38 2021-10-24 12:03:08.828821  1635076988828821000
38       39 2021-10-23 12:03:08.828821  1634990588828821000
39       40 2021-10-22 12:03:08.828821  1634904188828821000
40       41 2021-10-21 12:03:08.828821  1634817788828821000
41       42 2021-10-20 12:03:08.828821  1634731388828821000
42       43 2021-10-19 12:03:08.828821  1634644988828821000
43       44 2021-10-18 12:03:08.828821  1634558588828821000
44       45 2021-10-17 12:03:08.828821  1634472188828821000
45       46 2021-10-16 12:03:08.828821  1634385788828821000
46       47 2021-10-15 12:03:08.828821  1634299388828821000
47       48 2021-10-14 12:03:08.828821  1634212988828821000
48       49 2021-10-13 12:03:08.828821  1634126588828821000
49       50 2021-10-12 12:03:08.828821  1634040188828821000
50       51 2021-10-11 12:03:08.828821  1633953788828821000

In [228]:
date_range = pd.date_range(datetime.today() - timedelta(days=19), periods=19)
date_series = pd.Series(date_range)
df_episode_unix_timestamp = pd.DataFrame(pd.DataFrame(date_series))\
    .reset_index(drop=False)\
    .rename(columns={'index':'episode', 0:'timestamp'})
df_episode_unix_timestamp['episode'] = df_episode_unix_timestamp['episode'].apply(lambda x: x+1)
df_episode_unix_timestamp['unixtime'] = df_episode_unix_timestamp['timestamp'].astype(int)
df_episode_unix_timestamp['unixtime'] = (df_episode_unix_timestamp.timestamp - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [229]:
df_episode_unix_timestamp

    episode                  timestamp    unixtime
0         1 2021-11-12 12:12:15.702384  1636719135
1         2 2021-11-13 12:12:15.702384  1636805535
2         3 2021-11-14 12:12:15.702384  1636891935
3         4 2021-11-15 12:12:15.702384  1636978335
4         5 2021-11-16 12:12:15.702384  1637064735
5         6 2021-11-17 12:12:15.702384  1637151135
6         7 2021-11-18 12:12:15.702384  1637237535
7         8 2021-11-19 12:12:15.702384  1637323935
8         9 2021-11-20 12:12:15.702384  1637410335
9        10 2021-11-21 12:12:15.702384  1637496735
10       11 2021-11-22 12:12:15.702384  1637583135
11       12 2021-11-23 12:12:15.702384  1637669535
12       13 2021-11-24 12:12:15.702384  1637755935
13       14 2021-11-25 12:12:15.702384  1637842335
14       15 2021-11-26 12:12:15.702384  1637928735
15       16 2021-11-27 12:12:15.702384  1638015135
16       17 2021-11-28 12:12:15.702384  1638101535
17       18 2021-11-29 12:12:15.702384  1638187935
18       19 2021-11-30 12:12:15.702384  1638274335

The software to create this is Gource 2, an open source tool originally meant to visualize Git repositories. Fortunately it also can read a custom log format 9.

For Discourse, the custom log file would be a text file with each line containing the following components, delimited by `|`:

- timestamp
- username
- type of action (Added, Modified, Deleted); the “M” is useful esp. for wikis
- path to the affected resource. Usually this applies to files, but in our case it would be about posts. This is the part we’d have to adapt to Discourse. Our path format could be `category/subcategory/topic-id/post-id` or it could even include the full threading information with any depth of nesting, such as `category/subcategory/topic-id/parent-post-id/parent-post-id/post-id`
- color for the affected resource (optional); this could be chosen according to the category color on edgeryders.eu

Example line:

- `1275543595|matthias|A|earthos/reef/1234/1`

In [230]:
#df_characters_exploded

# Character pr. episode (custom_char_episode.log)

- 1633360391|episode_1|A|episode_1/rick/rick.cpp
- 1633360391|episode_1|A|episode_1/morty/rick.cpp
- 1633360391|episode_1|A|episode_1/summer/rick.cpp
- 1633360391|episode_2|A|episode_2/rick.cpp
- 1633360391|episode_3|A|episode_3/rick.cpp

In [14]:
res = ps.sqldf(
    """
    select 
        1633360391 || '|' || 'episode_' || episode || '|' || 'A' || '|' || 'episode_' || episode || '/' || character || '/' || 'player.cpp' as output
    from
    
    (
    
    select 
       episode
    ,  character
    from 
        (

        select
              replace(df.name, ' ', '_') as character
            , df.episode
        from df_characters_exploded df
        order by df.episode asc
        )
    order by episode asc
    )
    """
)

res

                                                 output
0     1633360391|episode_1|A|episode_1/Rick_Sanchez/...
1     1633360391|episode_1|A|episode_1/Morty_Smith/p...
2     1633360391|episode_1|A|episode_1/Bepisian/play...
3     1633360391|episode_1|A|episode_1/Beth_Smith/pl...
4     1633360391|episode_1|A|episode_1/Canklanker_Th...
...                                                 ...
1262  1633360391|episode_51|A|episode_51/Redhead_Mor...
1263  1633360391|episode_51|A|episode_51/Young_Jerry...
1264  1633360391|episode_51|A|episode_51/Young_Beth/...
1265  1633360391|episode_51|A|episode_51/Young_Beth/...
1266  1633360391|episode_51|A|episode_51/Young_Jerry...

[1267 rows x 1 columns]

In [15]:
with open('custom_char_episode.log', 'w') as f:
    for row in res.output:
        #print(row)
        f.write(row + '\n')

# Episode, Sentiment pr Character (top 5 pr episode)

The idea about this gource is to:
- Episodes are branches to eachother (linked)
- For each episode, take the top 5 (total sentences) characters
- Color the character according to sentiment

In [226]:
#df_rel_sent

In [227]:
#df_episodes

In [240]:
temp_df = ps.sqldf(
    """
    
    select 
        episode
      , alias as character
      , compound as sentiment
      , rn
    from
    (
    select 
      df.*
    , row_number() over (partition by episode order by num_sentences desc) as rn
    from df_rel_sent as df
    )
    
    where rn <= 5
    """
)

- `1275543595|matthias|A|earthos/reef/1234/1`

In [241]:
temp_df.head(10)

                         episode  character  sentiment  rn
0                   Anatomy Park       Rick     0.8118   1
1                   Anatomy Park      Morty    -0.5759   2
2                   Anatomy Park      Jerry     0.9647   3
3                   Anatomy Park      Annie     0.8002   4
4                   Anatomy Park  Dr. Bloom     0.0000   5
5       Auto Erotic Assimilation       Rick     0.5279   1
6  Gotron Jerrysis Rickvangelion       Rick     0.9944   1
7  Gotron Jerrysis Rickvangelion     Summer     0.9942   2
8  Gotron Jerrysis Rickvangelion      Morty     0.6733   3
9  Gotron Jerrysis Rickvangelion       Beth     0.8852   4

In [242]:
def rgb(minimum, maximum, value):
    minimum, maximum = float(minimum), float(maximum)
    ratio = 2 * (value-minimum) / (maximum - minimum)
    b = int(max(0, 255*(1 - ratio)))
    r = int(max(0, 255*(ratio - 1)))
    g = 0#255 - b - r
    return r, g, b


def rgb_to_hex(rgb):
    return '%02x%02x%02x' % rgb

In [243]:
rgb_to_hex(rgb(1, -1, -1))

'ff0000'

In [244]:
# As we have 19 episodes
df_episode_unix_timestamp

    episode                  timestamp    unixtime
0         1 2021-11-12 12:12:15.702384  1636719135
1         2 2021-11-13 12:12:15.702384  1636805535
2         3 2021-11-14 12:12:15.702384  1636891935
3         4 2021-11-15 12:12:15.702384  1636978335
4         5 2021-11-16 12:12:15.702384  1637064735
5         6 2021-11-17 12:12:15.702384  1637151135
6         7 2021-11-18 12:12:15.702384  1637237535
7         8 2021-11-19 12:12:15.702384  1637323935
8         9 2021-11-20 12:12:15.702384  1637410335
9        10 2021-11-21 12:12:15.702384  1637496735
10       11 2021-11-22 12:12:15.702384  1637583135
11       12 2021-11-23 12:12:15.702384  1637669535
12       13 2021-11-24 12:12:15.702384  1637755935
13       14 2021-11-25 12:12:15.702384  1637842335
14       15 2021-11-26 12:12:15.702384  1637928735
15       16 2021-11-27 12:12:15.702384  1638015135
16       17 2021-11-28 12:12:15.702384  1638101535
17       18 2021-11-29 12:12:15.702384  1638187935
18       19 2021-11-30 12:12:15.702384  1638274335

In [245]:
res = pd.merge(
    temp_df,
    df_episodes[['name', 'id']],
    how='left',
    left_on='episode',
    right_on='name'
).sort_values(['id', 'rn'], ascending=True)
res

           episode          character  sentiment  rn            name  id
51           Pilot               Rick     0.9975   1           Pilot   1
52           Pilot              Morty     0.9971   2           Pilot   1
53           Pilot              Jerry     0.9619   3           Pilot   1
54           Pilot               Beth     0.8590   4           Pilot   1
55           Pilot     Mr. Goldenfold     0.6080   5           Pilot   1
..             ...                ...        ...  ..             ...  ..
76  Rickmurai Jack               Rick     0.9806   1  Rickmurai Jack  51
77  Rickmurai Jack              Morty     0.9892   2  Rickmurai Jack  51
78  Rickmurai Jack    President Morty     0.8430   3  Rickmurai Jack  51
79  Rickmurai Jack          Crowscare     0.9445   4  Rickmurai Jack  51
80  Rickmurai Jack  Mr. Poopybutthole     0.9909   5  Rickmurai Jack  51

[111 rows x 6 columns]

In [247]:
with open('episode_character_sentiment.log', 'w+') as f:
        

    n = 0
    for idx, row in res.iterrows():
        #print('1633360391' + '|' + str(row.episode))
        if idx == 0:
            episode = res.iloc[idx].episode
            print(episode)
            episode_gathered = res.iloc[n].episode
            folder = episode_gathered + '/'
            #print('idx0 :', episode)
            #print(res[res.episode == episode].character)
            print(timestamp + '|' + 'sentiment|A|' + folder)
            f.write(timestamp + '|' + 'sentiment|A|' + folder + '\n')
            timestamp = str(df_episode_unix_timestamp.iloc[idx].unixtime)
            for char in res[res.episode == episode].character:
                #print(episode + '/' + char + '.txt')
                #print(res[(res.episode == episode) & (res.character == char)].sentiment.values[0])
                sentiment_score = res[(res.episode == episode) & (res.character == char)].sentiment.values[0]
                sentiment_to_hex = rgb_to_hex(rgb(1, -1, sentiment_score))
                #print(sentiment_to_hex)
                #print(episode + '/' + char + '.txt' + '|' + sentiment_to_hex.upper())
                add_file = episode_gathered + '/' + char + '.txt' + '|' + sentiment_to_hex.upper()
                print(timestamp + '|' + 'sentiment|A|' + add_file)
                f.write(timestamp + '|' + 'sentiment|A|' + add_file + '\n')

        if idx != 0:
            episode = res.iloc[idx].episode  
            
            #for char in res[res.episode == episode].character:
            #    print(char)
            if episode != res.iloc[idx - 1].episode:
                if n == 0:
                    n += 1
                    continue
                try:
                    timestamp = str(df_episode_unix_timestamp.iloc[n].unixtime)
                except:
                    None
                #print('idx :', episode)
                episode_gathered += '/' + res.iloc[n].episode
                if n % 3 == 0:
                    episode_gathered = res.iloc[idx].episode
                folder = episode_gathered + '/'
                print(timestamp + '|' + 'sentiment|A|' + folder)
                f.write(timestamp + '|' + 'sentiment|A|' + folder + '\n')
                #print('gathered : ', episode_gathered)
                for char in res[res.episode == episode].character:
                    sentiment_score = res[(res.episode == episode) & (res.character == char)].sentiment.values[0]
                    sentiment_to_hex = rgb_to_hex(rgb(1, -1, sentiment_score))
                    add_file = episode_gathered + '/' + char + '.txt' + '|' + sentiment_to_hex.upper()
                    print(timestamp + '|' + 'sentiment|A|' + add_file)
                    f.write(timestamp + '|' + 'sentiment|A|' + add_file + '\n')
                    
                n += 1
                #print(folder + '\n')
                #print('now : ', res.iloc[idx].episode)
                #print('before : ', res.iloc[idx-1].episode)
                #print(episode)

1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/
1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/Rick.txt|0000FC
1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/Morty.txt|0000FE
1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/Jerry.txt|C00000
1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/Beth.txt|0000F6
1636805535|sentiment|A|Rattlestar Ricklactica/Pilot/Meeseeks.txt|F40000
Pilot
1636805535|sentiment|A|Pilot/
1636719135|sentiment|A|Pilot/Rick.txt|0000FE
1636719135|sentiment|A|Pilot/Morty.txt|0000FE
1636719135|sentiment|A|Pilot/Jerry.txt|0000F5
1636719135|sentiment|A|Pilot/Beth.txt|0000DB
1636719135|sentiment|A|Pilot/Mr. Goldenfold.txt|00009B
1636891935|sentiment|A|Pilot/Pilot/
1636891935|sentiment|A|Pilot/Pilot/Jerry.txt|0000FA
1636891935|sentiment|A|Pilot/Pilot/Rick.txt|0000FD
1636891935|sentiment|A|Pilot/Pilot/Morty.txt|0000FC
1636891935|sentiment|A|Pilot/Pilot/Beth.txt|0000FC
1636891935|sentiment|A|Pilot/Pilot/Summer.txt|0000C1
1636978335|sentiment|A|Ricksy Business/
1636978335|sentiment|A|Ricksy Business/Rick.txt|0000FE
1636978335|sentiment|A|Ricksy Business/Morty.txt|0000F4
1636978335|sentiment|A|Ricksy Business/Summer.txt|0000FC
1636978335|sentiment|A|Ricksy Business/Jerry.txt|0000F8
1636978335|sentiment|A|Ricksy Business/Lucy.txt|0000FA
1637064735|sentiment|A|Ricksy Business/Pilot/
1637064735|sentiment|A|Ricksy Business/Pilot/Rick.txt|0000FD
1637064735|sentiment|A|Ricksy Business/Pilot/Summer.txt|0000FD
1637064735|sentiment|A|Ricksy Business/Pilot/Morty.txt|0000CC
1637064735|sentiment|A|Ricksy Business/Pilot/Beth.txt|0000E1
1637064735|sentiment|A|Ricksy Business/Pilot/Jerry.txt|0000A8
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/Rick.txt|0000FC
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/Morty.txt|0000FE
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/Jerry.txt|C00000
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/Beth.txt|0000F6
1637151135|sentiment|A|Ricksy Business/Pilot/Lawnmower Dog/Meeseeks.txt|F40000
1637237535|sentiment|A|Mortynight Run/
1637237535|sentiment|A|Mortynight Run/Rick.txt|0000DE
1637237535|sentiment|A|Mortynight Run/Morty.txt|FC0000
1637237535|sentiment|A|Mortynight Run/Jerry.txt|0000F3
1637237535|sentiment|A|Mortynight Run/Fart.txt|0000EB
1637237535|sentiment|A|Mortynight Run/Announcer.txt|0000CD
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/Rick.txt|0000FD
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/Morty.txt|000087
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/Jerry.txt|F10000
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/Summer.txt|0000FB
1637323935|sentiment|A|Mortynight Run/Lawnmower Dog/Scary Terry.txt|F50000
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/Rick.txt|FB0000
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/Morty.txt|FA0000
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/Summer.txt|F80000
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/Cornvelious Daniel.txt|0000FB
1637410335|sentiment|A|Mortynight Run/Lawnmower Dog/Lawnmower Dog/Jerry.txt|B40000
1637496735|sentiment|A|M. Night Shaym-Aliens!/
1637496735|sentiment|A|M. Night Shaym-Aliens!/Rick.txt|0000FE
1637496735|sentiment|A|M. Night Shaym-Aliens!/Morty.txt|0000E8
1637496735|sentiment|A|M. Night Shaym-Aliens!/Jerry.txt|0000FB
1637496735|sentiment|A|M. Night Shaym-Aliens!/Prince Nebulon.txt|0000FC
1637496735|sentiment|A|M. Night Shaym-Aliens!/Mr. Marklevitz.txt|0000F4
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Rick.txt|0000FD
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Summer.txt|0000FD
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Morty.txt|0000AB
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Beth.txt|0000E1
1637583135|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Jerry.txt|0000A8
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/Rick.txt|FB0000
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/Morty.txt|FA0000
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/Summer.txt|F80000
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/Cornvelious Daniel.txt|0000FB
1637669535|sentiment|A|M. Night Shaym-Aliens!/Anatomy Park/Anatomy Park/Jerry.txt|B40000
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/Rick.txt|0000FD
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/Morty.txt|EA0000
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/Supernova.txt|0000FC
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/Drunk Rick.txt|EF0000
1637755935|sentiment|A|Vindicators 3: The Return of Worldender/Million Ants.txt|710000
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Rick.txt|0000FB
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Jerry.txt|0000FD
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Alien Doctor.txt|0000FC
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Beth.txt|8B0000
1637842335|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Morty.txt|0000F0
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/Rick.txt|0000FA
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/Morty.txt|0000FC
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/President Morty.txt|0000D6
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/Crowscare.txt|0000F0
1637928735|sentiment|A|Vindicators 3: The Return of Worldender/Anatomy Park/Anatomy Park/Mr. Poopybutthole.txt|0000FC
1638015135|sentiment|A|The Rickshank Rickdemption/
1638015135|sentiment|A|The Rickshank Rickdemption/Rick.txt|FB0000
1638015135|sentiment|A|The Rickshank Rickdemption/Morty.txt|FA0000
1638015135|sentiment|A|The Rickshank Rickdemption/Summer.txt|F80000
1638015135|sentiment|A|The Rickshank Rickdemption/Cornvelious Daniel.txt|0000FB
1638015135|sentiment|A|The Rickshank Rickdemption/Jerry.txt|B40000
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/Rick.txt|FD0000
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/Morty.txt|FB0000
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/Zeep.txt|0000FD
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/Summer.txt|E90000
1638101535|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/Ship.txt|0000FB
1638187935|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/M. Night Shaym-Aliens!/
1638187935|sentiment|A|The Rickshank Rickdemption/M. Night Shaym-Aliens!/M. Night Shaym-Aliens!/Rick.txt|000086
1638274335|sentiment|A|Pickle Rick/
1638274335|sentiment|A|Pickle Rick/Pickle Rick.txt|0000FC
1638274335|sentiment|A|Pickle Rick/Beth.txt|0000EC
1638274335|sentiment|A|Pickle Rick/Morty.txt|0000DE
1638274335|sentiment|A|Pickle Rick/Dr. Wong.txt|0000FB
1638274335|sentiment|A|Pickle Rick/Agency Director.txt|C60000
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Rick.txt|0000FC
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Morty.txt|D90000
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Summer.txt|0000EE
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Hemorrhage.txt|DF0000
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Beth.txt|00007F
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/Rick.txt|0000CF
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/Morty.txt|920000
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/Jerry.txt|0000F5
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/Annie.txt|0000CC
1638274335|sentiment|A|Pickle Rick/M. Night Shaym-Aliens!/Meeseeks and Destroy/Dr. Bloom.txt|000000
1638274335|sentiment|A|Rattlestar Ricklactica/
1638274335|sentiment|A|Rattlestar Ricklactica/Rick.txt|0000FA
1638274335|sentiment|A|Rattlestar Ricklactica/Morty.txt|0000FC
1638274335|sentiment|A|Rattlestar Ricklactica/President Morty.txt|0000D6
1638274335|sentiment|A|Rattlestar Ricklactica/Crowscare.txt|0000F0
1638274335|sentiment|A|Rattlestar Ricklactica/Mr. Poopybutthole.txt|0000FC

**Note:**
- Run with:
    - `gource episode_character_sentiment.log --seconds-per-day 1 --bloom-intensity 0.3 -e 0.2 -i 120 --title "Sentiment for the top 5 Characters pr Episode"`
    - `gource episode_character_sentiment.log --seconds-per-day 2 --bloom-intensity 0.3 --title "Sentiment for the top 5 Characters pr Episode"`

In [117]:
import math

def num_to_rgb(val, max_val=1):
    i = (val * 255 / max_val);
    r = round(math.sin(0.024 * i + 0) * 127 + 128);
    g = 0# round(math.sin(0.024 * i + 2) * 127 + 128);
    b = round(math.sin(0.024 * i + 4) * 127 + 128);
    return (r,g,b)

def rgb_to_hex(rgb):
    return '%02x%02x%02x' % rgb

print(rgb_to_hex(num_to_rgb(0)))

800020

In [30]:
res = ps.sqldf(
    """
    select 
        1633360391 || '|' || 'sentiment' || '|' || 'A' || '|' || episode as output
    from
    (
    
    select 
        episode
      , alias as character
      , compound as sentiment
      , rn
    from
    (
    select 
      df.*
    , row_number() over (partition by episode order by num_sentences desc) as rn
    from df_rel_sent as df
    )
    
    where rn <= 5
    )
    """
)

res

                                                output
0                  1633360391|sentiment|A|Anatomy Park
1                  1633360391|sentiment|A|Anatomy Park
2                  1633360391|sentiment|A|Anatomy Park
3                  1633360391|sentiment|A|Anatomy Park
4                  1633360391|sentiment|A|Anatomy Park
..                                                 ...
106  1633360391|sentiment|A|Vindicators 3: The Retu...
107  1633360391|sentiment|A|Vindicators 3: The Retu...
108  1633360391|sentiment|A|Vindicators 3: The Retu...
109  1633360391|sentiment|A|Vindicators 3: The Retu...
110  1633360391|sentiment|A|Vindicators 3: The Retu...

[111 rows x 1 columns]

In [31]:
with open('episode_character_sentiment.log', 'w') as f:
    for row in res.output:
        #print(row)
        f.write(row + '\n')

# Something Else

In [195]:
ps.sqldf(
    """
    select
          replace(df.name, ' ', '_') as character
        , df.episode
        , ts.timestamp
        , ts.unixtime
    from df_characters_exploded df
    inner join df_episode_unix_timestamp as ts
        on ts.episode = df.episode
    order by df.episode asc
    """
)

            character  episode                   timestamp    unixtime
0        Rick_Sanchez        1  2021-10-04 15:13:11.890278  1633360391
1         Morty_Smith        1  2021-10-04 15:13:11.890278  1633360391
2            Bepisian        1  2021-10-04 15:13:11.890278  1633360391
3          Beth_Smith        1  2021-10-04 15:13:11.890278  1633360391
4     Canklanker_Thom        1  2021-10-04 15:13:11.890278  1633360391
...               ...      ...                         ...         ...
1262    Redhead_Morty       51  2021-11-23 15:13:11.890278  1637680391
1263      Young_Jerry       51  2021-11-23 15:13:11.890278  1637680391
1264       Young_Beth       51  2021-11-23 15:13:11.890278  1637680391
1265       Young_Beth       51  2021-11-23 15:13:11.890278  1637680391
1266      Young_Jerry       51  2021-11-23 15:13:11.890278  1637680391

[1267 rows x 4 columns]

`unixtime || '|' || character || '|' || 'A' || '|' || 'episodes/episode_nr/' || episode || '.txt' as output`

In [214]:
# which characters touch which episode
res = ps.sqldf(
    """
    select 
        unixtime || '|' || character || '|' || 'A' || '|' || episode || '.txt' as output
    from
    
    (
    
    select 
       episode
    ,  character
    ,  unixtime
    from 
        (

        select
              replace(df.name, ' ', '_') as character
            , df.episode
            , ts.timestamp
            , ts.unixtime
        from df_characters_exploded df
        inner join df_episode_unix_timestamp as ts
            on ts.episode = df.episode
        order by df.episode asc
        )
    order by episode asc
    )
    """
)
res

                                  output
0        1633360391|Rick_Sanchez|A|1.txt
1         1633360391|Morty_Smith|A|1.txt
2            1633360391|Bepisian|A|1.txt
3          1633360391|Beth_Smith|A|1.txt
4     1633360391|Canklanker_Thom|A|1.txt
...                                  ...
1262   1637680391|Redhead_Morty|A|51.txt
1263     1637680391|Young_Jerry|A|51.txt
1264      1637680391|Young_Beth|A|51.txt
1265      1637680391|Young_Beth|A|51.txt
1266     1637680391|Young_Jerry|A|51.txt

[1267 rows x 1 columns]

In [215]:
#res = ps.sqldf(
#    """
#    
#    select 
#       unixtime || '|' || character || '|' || 'A' || '|' || 'episodes/episode_nr/' || episode || '.txt' as output
#    from 
#    (
#
#    select
#          replace(df.name, ' ', '_') as character
#        , df.episode
#        , ts.timestamp
#        , ts.unixtime
#    from df_characters_exploded df
#    inner join df_episode_unix_timestamp as ts
#        on ts.episode = df.episode
#    )
#    order by 1 desc
#    """
#)

In [219]:
with open('custom.log', 'w') as f:
    for row in res.output:
        #print(row)
        f.write(row + '\n')

- gource --hide dirnames,filenames --seconds-per-day 0.1 --auto-skip-seconds 1 -1280x720 -o - | ffmpeg -y -r 60 -f image2pipe -vcodec ppm -i - -vcodec libx264 -preset ultrafast -pix_fmt yuv420p -crf 1 -threads 0 -bf 0 gource.mp4

In [223]:
# which episodes that touch the characters
res = ps.sqldf(
    """
    select 
        unixtime || '|' || episode || '|' || 'A' || '|' || character || '.txt' as output
    from
    
    (
    
    select 
       episode
    ,  character
    ,  unixtime
    from 
        (

        select
              replace(df.name, ' ', '_') as character
            , df.episode
            , ts.timestamp
            , ts.unixtime
        from df_characters_exploded df
        inner join df_episode_unix_timestamp as ts
            on ts.episode = df.episode
        order by df.episode asc
        )
    order by episode asc
    )
    """
)
res

                                  output
0        1633360391|1|A|Rick_Sanchez.txt
1         1633360391|1|A|Morty_Smith.txt
2            1633360391|1|A|Bepisian.txt
3          1633360391|1|A|Beth_Smith.txt
4     1633360391|1|A|Canklanker_Thom.txt
...                                  ...
1262   1637680391|51|A|Redhead_Morty.txt
1263     1637680391|51|A|Young_Jerry.txt
1264      1637680391|51|A|Young_Beth.txt
1265      1637680391|51|A|Young_Beth.txt
1266     1637680391|51|A|Young_Jerry.txt

[1267 rows x 1 columns]

In [224]:
# something
res = ps.sqldf(
    """
    select 
        unixtime || '|' || episode || '|' || 'A' || '|' || character || '/' || episode || '.txt' as output
    from
    
    (
    
    select 
       episode
    ,  character
    ,  unixtime
    from 
        (

        select
              replace(df.name, ' ', '_') as character
            , df.episode
            , ts.timestamp
            , ts.unixtime
        from df_characters_exploded df
        inner join df_episode_unix_timestamp as ts
            on ts.episode = df.episode
        order by df.episode asc
        )
    order by episode asc
    )
    """
)
res

                                    output
0        1633360391|1|A|Rick_Sanchez/1.txt
1         1633360391|1|A|Morty_Smith/1.txt
2            1633360391|1|A|Bepisian/1.txt
3          1633360391|1|A|Beth_Smith/1.txt
4     1633360391|1|A|Canklanker_Thom/1.txt
...                                    ...
1262  1637680391|51|A|Redhead_Morty/51.txt
1263    1637680391|51|A|Young_Jerry/51.txt
1264     1637680391|51|A|Young_Beth/51.txt
1265     1637680391|51|A|Young_Beth/51.txt
1266    1637680391|51|A|Young_Jerry/51.txt

[1267 rows x 1 columns]